body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app__content {
    width: 900px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__link {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
}

.modal__content {
    width: 500px;
    background: #fff;
    z-index: 200;
    padding: 10px;
    border-radius: 5px;
}

.books__paginatorLink {
    margin-right: 15px;
}

.header {
    background: #373a3c;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header__left {

}

.header__logo {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.header__link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}

.header__link_active {
    color: yellow;
}

.header__logoutForm {

}

.header__logoutButton {
    border: 1px solid yellow;
    color: yellow;
    outline: none;;
    background: transparent;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 18px;
}

.books__header {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    font-family: open_sanssemibold, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.books__title {
    font-size: 24px;
}

.editor__row {
    margin-top: 5px;
}

.submit__button {
    border: 0;
    color: #fff;
    outline: none;;
    background: #6888ad;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 18px;
}

.books__table {
    width:100%;
    border-collapse: collapse;
    font-family: open_sanssemibold, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    border: 1px solid #eee;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);

}

.books__table tr:hover {
    background: #f4f4f4;
}

.books__table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 10px;
}

.books__table th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 10px;
}

.books__table__head {
    background: #cecece;
}

.book_editor label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.books {
    margin-left: 30px;
    margin-right: 30px;
}

.books__paginator {
    display: flex;
    justify-content: space-around;
    margin-top:5px;
}

.books__table th:first-child {
    width:20px;
}
