body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app__content {
    width: 900px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__content {
    width: 600px;
    background: #fff;
    min-height: 500px;
    z-index: 200;
}

.books__paginatorLink {
    margin-right: 15px;
}

.header {
    background: #373a3c;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header__left {

}

.header__logo {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.header__link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}

.header__link_active {
    color: yellow;
}

.header__logoutForm {

}

.header__logoutButton {
    border: 1px solid yellow;
    color: yellow;
    outline: none;;
    background: transparent;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 18px;
}
