.app__content {
  width: 900px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  width: 600px;
  background: #fff;
  min-height: 500px;
}
