<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Book Corner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Book Corner"/>
    <meta name="author" content="Morenkov Evgenii"/>

    <link rel="stylesheet" href="css/main.css" />
</head>
<body>

<div id="root"></div>

<script src="built/bundle.js"></script>

</body>
</html>