<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Book Corner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Book Corner"/>
    <meta name="author" content="Morenkov Evgenii"/>

    <link rel="stylesheet" href="css/common.css" />
</head>
<body>
<input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
<div id="root"></div>

<script src="built/bundle.js"></script>

</body>
</html>