<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
<div th:if="${param.error}" class="alert alert-error">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>

<div id="root"></div>

<script src="built/bundle.js"></script>
</body>
</html>