<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>
<body>
<div class="header">
    <div class="header__left">
        <a href="/" class="header__logo">Book store</a>
    </div>
</div>
<div class="login-form">
    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <div class="form-actions">
            <button type="submit" class="btn">Log in</button>
        </div>
    </form>

<!--Spring social showcase boot-->
    <!-- TWITTER SIGNIN -->
    <form id="tw_signin" th:action="@{/signin/twitter}" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
        <button type="submit"><img th:src="@{/images/logo/twitter.png}"></img></button>
    </form>

    <!-- FACEBOOK SIGNIN -->
    <form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
        <input type="hidden" name="scope" value="read_stream,user_posts,user_photos"></input>
        <button type="submit"><img th:src="@{/social/facebook/sign-in-with-facebook.png}"></img></button>
    </form>

    <!-- LINKEDIN SIGNIN -->
    <form name="li_signin" id="li_signin" th:action="@{/signin/linkedin}" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
        <button type="submit">Sign In with LinkedIn</button>
    </form>
</div>


</body>
</html>